<!DOCTYPE html>
<html>
<head lang='en'>
  <meta charset="UTF-8">      
  <title>Virtual Calculator</title>

  <link href="views/favicon.ico" rel="icon" type="image/x-icon">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>

    <h1>Virtual Calculator</h1>

    <div id='nonButton'>
        
        <div id='casio'>CASIO</div>
        
        <div id='solarThing'><div id='rightLine'><div id='midLine'><div id='leftLine'></div></div></div></div>
        
        <div id='screen'><div id='shiftSome'></div></div>
        
        <div class='cancelButtons roundCorners'>
            <div class='centerBlock'>AC</div>
        </div>
        <div class='cancelButtons roundCorners'>
            <div class='centerBlock'>CE</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div id='division'>÷</div>
        </div>
        <div class='otherButtons roundCorners rightButton'>
            <div class='centerBlock'>X</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>7</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>8</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>9</div>
        </div>
        <div class='otherButtons roundCorners rightButton'>
            <div class='centerBlock'>-</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>4</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>5</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>6</div>
        </div>
        <div class='otherButtons roundCorners rightButton'>
            <div class='centerBlock'>+</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>1</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>2</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>3</div>
        </div>
        <div class='roundCorners' id='zeroButton'>
            <div class='centerBlock'>0</div>
        </div>
        <div class='otherButtons roundCorners'>
            <div class='centerBlock'>.</div>
        </div>
        <div class='roundCorners rightButton' id='equalsButton'>
            <div class='centerEquals'>=</div>
        </div>
        
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="js/javascript.js"></script>

</body>

</html>